@model List<Movie>

@* добавить отношение с рейтингами*@

@{
	ViewData["Title"] = "List of Movies";
}

<ul class="movies-top">
	@{int counter = 1;}
	@foreach (var item in Model)
	{
		<li>
			<div class="poster" 
				style="background-image: url('@item.PosterImageUrl') ;  
				background-size: contain; background-repeat: no-repeat;
				background-position: center; width: 200px; height: 300px">
			</div>
			<div class="description">
				<div class="title">
					<span>@counter. @item.EnglishTitle</span>
				</div>
				<div class="info">
					<div class="year"></div>
					<div class="runtime-minutes"></div>
					<div class="mpaa"></div>
				</div>
				<div class="rating"></div>
			</div>

			@*Тут мб удаление филмьа из бд*@
		</li>
		counter++;
	}
</ul>